# Data science tools and ecosystem

In this Notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1. Python

2. R

3. Scala

4. Julia

5. SQL

6. Java
etc.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.

2. NumPy.

3. Matplotlib.

4. Seaborn.

5. Scikit-learn.

6. Pytorch.

7. Keras.

8. Pandas.

etc

|Data Science Tools|
|---|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Here you can see a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This is a simple arithmetic expression that involves multiplying integers and then adding the result.

In [5]:
(3*4)+5

17

In [ ]:
# The following code will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

__Objectives__

* List Data Science tools;
* Write down Data Science libraries
* Enumerate Data Science languages
* Exemplify arithmetic expressions

## Author

Nilanjana Sarkar